*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}


.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
}

.logo{
    height: 40px;
    width: 103px;
    margin-top: 1rem;
}

