body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    background-color: black;
    color: #fff;
    overflow: hidden;
}

.main{
    display: flex;
    height: 100vh;
    padding: 0.2rem;
    margin: 0.8rem 0;
}

.sidebar{
    background-color:#000;
    width: 340px;
    border-radius: 1rem;
}

.main-content{
    background-color: #121212;
    flex: 1;
    border-radius: 1rem;
    overflow: auto;
    padding: 0 1.5rem;
    margin: 0.5rem 0;
}

.music-player{
    background-color: black;
    position: fixed;
    bottom: 0;
    height: 72px;
    width: 100%;
}

a{
    text-decoration: none;
    color: #fff;
}

.nav{
    margin: 0.4rem;
    background-color: #121212;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
    padding: 0.5rem 0.75rem;
}

.nav-option{
    line-height: 2.5rem;
    padding: 0.25rem 0.75rem;
    opacity: 0.7;
}

.nav-option:hover{
 opacity: 1;
}

.nav-option a{
    font-size: 1rem;
    font-weight:400;
}

.nav-option i{
    font-size: 1.25rem;
    padding-right: 1rem;
}

.library{
    
    background-color: #121212;
    border-radius: 1rem;
    height: 100%;
    margin: 0.5rem;
}

.options{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0.75rem;
    align-items: center;
}
.lib-option img{
    height: 1.25rem;
    width: 1.25rem;
}
.options a{
    margin-left: 1rem;
}

.icons{
    font-size: 1.25rem;
    display: flex;
}
.icons i{
    opacity: 0.7;
    margin-right: 1rem;
}

.icons i:hover{
    opacity: 1;
}

.box{
    height: 8rem;
    background-color: #232323;
    border-radius: 1rem;
    margin: 0.75rem 0.5rem 1.75rem 0.5rem;
    padding: 0.75rem 1rem;
}

.box-p1{
    font-size: 1rem;
    font-weight: 500;
    
}

.box-p2{
    font-size: 0.85rem;
    opacity: 0.75rem;
}

.badge{
    background-color: #fff;
    border: none;
    border-radius: 100px;
    padding: 0.25rem 1rem;
    margin-top: 0.5rem;
    height: 2rem;
    width: fit-content;
}

.sticky-nav img{
    height: 1.25rem;
    width: 1.25rem;
    
}

.sticky-nav{
    top: 0;
    position: sticky;
    background-color: #121212;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

.dark-badge{
    background-color: #000;
    color: #fff;
}

.sticky-nav-icons{
    margin: 0.5rem;
}

.sticky-nav-options{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-item{
    margin-right: 1.5rem;
}

@media (max-width: 1000px) {
    .hide{
        display: none;
    }
}

.card{
    background-color: #232323;
    width: 150px;
    border-radius: 0.5rem;
    padding: 1rem;
    margin: 1rem;
    
}

.card-img{
  width: 100%;
  border-radius: 0.5rem;
}

.card-title{
    font-weight: 600;
}

.card-info{
    opacity: 0.5rem;
    font-size: .85rem;
}

.cards-container{
    display: flex;
    flex-wrap: wrap;
}

.footer{
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.line{
    width: 90%;
    height: 50%;
    border-top: 1px solid white;
    opacity: 0.4;
}

.music-player{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.album{
    width: 25%;

}

.player{
    width: 50%;
}

.controls{
    width: 25%;
    
}

.player-control-icon{
    height: 0.8rem;
    width: 0.8rem;
    margin-right: 1.75rem;
    opacity: 0.7;
    
}

.player-control{
    display: flex;
    justify-content: center;
    align-items: center;
}

.player-control-icon:hover{
    opacity: 1;
}

.playback-bar{
    display: flex;
    justify-content: center;
    align-items: center;
}

.progress-bar{
    width: 70%;
    appearance: none;
    background-color: transparent;
    cursor: pointer;
}

.progress-bar::-webkit-slider-runnable-track{
    background-color: rgb(179, 179, 179);
    border-radius: 100px;
    height:0.2rem;
}

.progress-bar::-webkit-slider-thumb{
    appearance: none;
    height: .8rem;
    width: .8rem;
    border-radius: 50%;
    margin-top: -5px;
    background-color: #1bd760;
}

.time{
    font-size: 11px;
}

.album-image{
    height: 56px;
    width: 56px;
    border-radius: 10%;
    margin: 1rem 0;
}
.album{
    display: flex;
    
    align-items: center;
    margin: 0 1rem;
}

.album-p1{
    font-size: 13px;
    font-weight: 500;
}

.album-p2{
    font-size: 10px;
    font-weight: -100px;
}

.album i{
    border: none;  
}

.album-item{
    margin-right: 1rem;
}

.album-p1:hover{
    text-decoration: underline;
}
.album-p2:hover{
    text-decoration: underline;
}

.controls{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0.5rem;
}

.controls-icon{
    font-size: 1rem;
    opacity: 0.7;
}

.controls-icon:hover{
    opacity: 1;
}
.sound-control{
    appearance: none;
    margin-bottom:0.5rem ;
}

.sound-control::-webkit-slider-runnable-track{
    background-color: rgb(179, 179, 179);
    height: 0.15rem;
    border-radius: 50px;
    

}
.sound{
    display: flex;
    margin-left: 0%;

}

.sound-control::-webkit-slider-thumb{
    appearance: none;
    height: .4rem;
    width: .4rem;
    border-radius: 50%;
    margin-top: -2px;
    background-color: #1bd760;
}

